#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2{
  color: silver;
}

.container{
  display: grid;
 grid-template-columns: repeat(auto-fit,minmax(190px, 1fr));
 grid-auto-rows: 150px;
  justify-content: center;
  gap: 20px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(116, 113, 113);
  color: black;
  border-radius: 4px;

}


.flip-card-back {
  background-color: rgb(9, 9, 9);
  color: white;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  font-size: 50px;
  border-radius: 4px;
}

.completed{
  background-color: rgba(10, 10, 10, 0.637);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.completed h1{
  color: antiquewhite;
  font-size: 50px;
  background-color: rgba(22, 22, 22, 0.863);
}